/* =================================
    color variable section
================================= */

$White: #ffffff;
$Green-50: #9eff00;
$Green-80: #d8ff99;
$Grey-15: #262626;
$Grey-60: #98989a;
$Grey-90: #e6e6e6;
$Grey-20: #333333;
$Grey-40: #656567;

/*  ====================================
        Font Family Variable's
====================================  */

$font-family-Barlow-SemiBold: "Barlow-SemiBold";
$font-family-Barlow-Medium: "Barlow-Medium";
$font-family-Barlow-Regular: "Barlow-Regular";